/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d1c6;
}

header {
    background-color: #12a15a;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

input {
    cursor: pointer;
}

section {
    margin: 20px;
}

/* Estilos para la sección de selección */
#seleccionar {
    text-align: center;
}

#seleccionar p {
    font-size: 20px;
    margin-bottom: 10px;
}

#seleccionar label {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 6px;
}

#mostrar {
    background-color: #12a1594b;
    max-width: 250px;
    height: auto;
    padding: 20px;
}

#mostrar p {
    font-size: 18px;
    margin-left: 20px;
}

#mostrar img {
    max-width: 250px;
    height: auto;
}

#total {
    font-size: 18px;
    margin-bottom: 10px;
    font-style: italic;
}

button:hover {
    transform: scale(1.1);
}

#t {
    text-align: center;
}